PORT=3000

# Atlas (recomendado):
# MONGODB_URI=mongodb+srv://usuario:contraseña@cluster.xxxxx.mongodb.net/recetas_app?retryWrites=true&w=majority

# Local (si tienes MongoDB instalado en la PC):
MONGODB_URI=mongodb://localhost:27017/recetas_app

JWT_SECRET=cambia_esto_por_algo_largo_y_aleatorio
JWT_EXPIRES_IN=7d
